@font-face {
	font-family: Mercurio;
	src: url(./fonts/MERCURIO-MIENTE.otf) format("opentype");
	font-weight: regular;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Regular.ttf) format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Bold.ttf) format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Medium.ttf) format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto;
	src: url(./fonts/Roboto-Black.ttf) format("truetype");
	font-weight: 900;
	font-style: normal;
}
